################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vineet.BookStore/.vs/Vineet.BookStore
/Vineet.BookStore/Vineet.BookStore/bin/Debug/netcoreapp3.1
/Vineet.BookStore/Vineet.BookStore/obj
