
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="container">
    <img src="~/images/logo.png" alt="My Image"  class="logo"/>
    <h1 class="h1">Welcome to book store application</h1>
</body>
</html>
